<div class="container text-center mt-5">
  <h1>Allan Lopes Ferreira</h1>
  <p>RA: A2380994</p>
  <p>Especialização Em Tecnologia Java</p>
  <img src="assets/utfpr.png" alt="Logo da UTFPR" class="img-fluid" style="max-width: 400px; margin-bottom: 20px;">
  <hr>
  <h2>Sobre a Aplicação</h2>
  <p>
    Esta aplicação foi desenvolvida como parte do curso de "Framework Web" e tem como objetivo facilitar a inserção de
    contratos e informações essenciais. Proporciona uma maneira simples de consultar e gerenciar esses dados, contribuindo
    para uma organização mais eficiente.
  </p>
</div>
